.layout {
  grid-template-areas:
    "header content"
    "header content";
  @apply grid;
}

.content {
  grid-area: content;
  padding: 1rem;
  @apply grid place-items-center;
}

@media (min-width: 768px) {
  .layout_open {
    padding: 1rem;
    min-height: 100vh;
    grid-template-areas:
      "header content"
      "header content";
    grid-template-rows: 1fr;
    grid-template-columns: 16rem 1fr;
    transition-duration: 0.3s;
    @apply grid;
  }

  .layout_close {
    padding: 1rem;
    min-height: 100vh;
    grid-template-areas:
      "header content"
      "header content";
    grid-template-rows: 1fr;
    grid-template-columns: 3rem 1fr;
    transition-duration: 0.3s;
    @apply grid;
  }
}
