.layout {
  grid-template-areas:
    'header content'
    'header content';
  min-height: 100vh;
  @apply grid h-full p-4 duration-300;
}

.content {
  grid-area: content;
  grid-template-rows: 1fr;
  @apply h-full;
}

@media (min-width: 768px) {
  .layout_open {
    grid-template-columns: 16rem 1fr;
  }

  .layout_close {
    grid-template-columns: 3rem 1fr;
  }
}
